.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/*
.idea/copywrite/*
.idea/copyright/*
.idea/uiDesigner.xml
attask.ipr
attask.iws
AtTaskForJenkins.iml
.ant-targets-build.xml

testresults.csv
test.results
**/test.results

target
build
out

java/resources/developer.properties
flex/src/UserProperties.as

git.properties
/.project
/.classpath
/bin
/.settings

developer.properties
.DS_Store
