.blameSelect {
	width: 100px;
}

#commitTooltip {
    border: 1px solid #AAA;
    border-radius: 3px;
    background-color: #EFEFEF;
    max-width: 400px;
    padding: 5px;
    position: absolute;
    zIndex: 200;
}

#commitTooltip .header {
    font-size: 15px;
    text-align: center;
}